.menu ul{
    display: flex;
    justify-content: space-evenly;
    
}

.imgTopo{
    display: flex;
    width:1340px ;
    height:290px ;
}

.aep {
    vertical-align: 0.71cm;
    display: inline-block;
    margin-left: 20px;
    color: white;
}

header{
    background-color: #2BAB6E;
    width: 1340px;
    height: 371px;
    align-items: center;
}

.menu a{
    background: #E7BCF2;
    padding: 10px 20px;
    border-radius: 15px;
    text-decoration-color: none;
    color: white;    
    text-decoration: none;
}

.menu {
    margin: -75px; 
    margin-inline-start: 300px;
    margin-inline-end: 20px;
    
    

}

body{
    overflow-x: hidden;
}