.menu ul{
    display: flex;
    justify-content: space-evenly;
    
}

.imgTopo{
    display: flex;
    width:1340px ;
    height:290px ;
}

.aep {
    vertical-align: 0.71cm;
    display: inline-block;
    margin-left: 20px;
    color: white;
}

header{
    background-color: #2BAB6E;
    width: 1340px;
    height: 371px;
    align-items: center;
}

.menu a{
    background: #E7BCF2;
    padding: 10px 20px;
    border-radius: 15px;
    text-decoration-color: none;
    color: white;    
    text-decoration: none;
}

.menu {
    margin: -75px; 
    margin-inline-start: 300px;
    margin-inline-end: 20px;
    
    

}

body{
    overflow-x: hidden;
}

#titulo{
    padding: 50px ;
}

.img{
    padding: 30px;
    border: none;
    border-radius: 50px;
    width: 400px;
    height: 450px;
    margin-left: 190px;
}

.paragrafo{
    background-color: #E7BCF2;
    width: 400px;
    height: 250px;
    border-radius: 35px;
    display: inline-block;
    vertical-align: 200px;
    margin-left: 90px;
    font-size: 28px;
    padding: 30px 30px;
}

.paragrafo2{
    background-color: #E7BCF2;
    width: 400px;
    height: 300px;
    border-radius: 35px;
    margin-left: 190px;
    font-size: 22px;
    padding: 30px 30px;
    margin-top: 60px;
}

.img2{
    width: 400px;
    height: 300px;
    margin-left: 790px ;
    margin-top: -500px;
    
}

.ajudar{
    margin-left: 260px;
    display: flex;
    flex-direction: row;
    font-size: 35px;
    color:#2BAB6E ;
}

.paragrafo3{
    background-color: #E7BCF2;
    width: 400px;
    height: 300px;
    border-radius: 35px;
    margin-left: 750px;
    font-size: 22px;
    padding-top: 10px;
    padding-bottom: 100px;
    padding-left: 50px; 
    margin-bottom: 200px;
}